.admin__main {
  display: flex;
}
.admin__content {
  flex: 1;
  flex-direction: column;
  padding: 10px 20px 20px 20px;
  height: calc(100vh - 30px);
  overflow-y: auto;
}
.theme__dark {
  background-color: #222f3e;
  color: #7c8fac;
}
.theme__dark * {
  color: white !important;
  border-color: #7c8fac !important;
}

.theme__dark input,
.theme__dark textarea,
.theme__dark select {
  background-color: #222f3e;
  border: 2px solid #161f29;
}
.theme__dark .ql-toolbar.ql-snow .ql-picker-label {
  border: none;
}
.theme__dark .ql-snow .ql-picker-label {
  color: black !important;
}
.theme__dark .ql-picker-item {
  color: black !important;
}
.theme__dark .account__menu {
  background-color: rgb(28, 69, 93);
}
.theme__dark .admin__menu {
  border-right: 2px solid #161f29;
}
.theme__dark .list__content,
.theme__dark .table__template {
  border: 1px solid #161f29;
}
.theme__dark td,
.theme__dark th {
  border-bottom: 1px solid #161f29;
}
.theme__dark .header__link:hover span {
  color: #5d87ff !important;
}
.theme__dark .ql-toolbar {
  background-color: white;
}

.theme__dark .admin__active {
  background-color: #5d87ff;
  transition: 0.2s;
}
.theme__dark .admin__active:hover {
  background-color: white;
}
.theme__dark .admin__active:hover span {
  color: #5d87ff;
}
.theme__dark .link__item {
  background-color: rgb(28, 69, 93);
}
.theme__dark .home__note__list p {
  scrollbar-color: #161f29 rgb(28, 69, 93); /* Thumb color and track color */
}
.active__menu .admin__menu {
  position: fixed;
  background-color: white;
  z-index: 4;
}
.theme__dark.active__menu .admin__menu {
  background-color: #161f29;
}
.theme__dark .slider__item {
  background-color: #161f29;

}
.theme__dark .link__item:hover {
  background-color: #161f29;
  color: #5d87ff !important;
}
.theme__dark .link__item:hover p,
.theme__dark .link__item:hover span {
  scrollbar-color: white #161f29; /* Thumb color and track color */
  color: #5d87ff !important;
  background-color: red;

}
.theme__dark .link__item .home__note__title {
  background-color: rgb(28, 69, 93);
}
.theme__dark .link__item:hover .home__note__title {
  background-color: #161f29;
}
.active__menu .admin__content::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, 0.5); /* Set your desired background color */
  z-index: 3; /* Place it behind other content */
}
.menu__close {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
}
@media only screen and (max-width: 500px) {
  .admin__content {
    padding: 10px;
  }
}
