.about__container{
    padding-right: 200px;
}
.about__header{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.about__me{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;

}
.about__me img{
    width: 40%;
}
.about__key{
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap; 
    gap: 20px;
    

}
.key__item{
    min-width: 300px;
    display: flex;
    flex: 0 0 calc(50% - 32px);
    align-items: flex-start;
    gap: 10px;
    border: 1px dotted #ccc;
    padding: 10px;
}
.key__item p{
    margin: 0;

}
.key__item img {
    width: 40px;
    height: 40px;
}

.about__posts h1{
    background-color: rgb(29, 40, 46);
    text-align: center;
    padding: 60px 0;
    margin: 20px 0;
    color: white;
}
.about__posts .slider__content{
    flex-wrap: nowrap;
}
/* RESPONSIVE */
@media only screen and (max-width: 1528px) {
    .about__posts .slider__content{
        flex-wrap: wrap;
    }
    .about__container{
        padding-right: 0px;
    }
  
  }
  @media only screen and (max-width: 800px) {
    .about__me{
        flex-wrap: wrap;
        flex-direction: column-reverse;
        align-items: center;

    }
    .about__me img{
        width: 60%;
    }
    .key__item{
        flex: 1 

    }
  }
  